@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,800&family=Biryani:wght@900&family=Monofett&display=swap");
html,
body {
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 215, 215);
}
body {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  width: 100%;
  justify-content: center;
}

header p {
  margin: 0px 0px;
}
main {
  flex-grow: 1;
  align-items: flex-start;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
button {
  height: 40px;
  border-radius: 10px;
}
input {
  height: 40px;
  display: flex;
  flex-grow: 1;
  margin-right: 30px;
  border-radius: 10px;
}

.containerHeader {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.containerHeader p {
  font-size: 70px;
  font-weight: 900;
  font-family: "Alegreya Sans", sans-serif;
}
.containerMain {
  display: flex;
  border: solid black 2px;
  border-radius: 15px;
  background-color: rgb(250, 234, 234);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px 10px;
}
#inputAdd {
  margin: 0;
}
#addTodo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 25%;
}

.itemTodo {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 10px;
}
.buttonTodo {
  display: flex;
  flex-direction: row;
}
#listTodo {
  display: flex;
  flex-direction: column;
}
.containerFooter {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 15px;
}

footer p {
  margin: 0px 2px;
}
.iconSocialNetworks a,
.palleteColors {
  display: flex;
  flex-direction: row;
  align-items: center;
}
